/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
composer.lock
/package-lock.json
/resources/css/app.map
/resources/css/
/public/css/
/public/images/
/public/js/
/public/mix-manifest.json
