.aviso{
    width: calc(33% - 40px);
    margin: 20px;
    position: relative;
    box-shadow: 8px 8px 30px #7a7a7a;
    border-radius: 10px;

    .marker{
        position: absolute;
        background: rgba(0,0,0,0.7);
        top: 0;
        border-top-left-radius: 10px;
        text-align: center;
        color: map-get($theme-colors, 'success');
        font-size: .875em;
        font-weight: bold;
        padding: 5px 15px;
    }

    .marker-subtitle{
        position: absolute;
        background: rgba(0,0,0,0.7);
        right: 0;
        bottom: 0;
        text-align: center;
        width: 80%;
        color: map-get($theme-colors, 'white');
        font-size: .9em;
        padding: 10px 15px;
        border-bottom-right-radius: 10px;
    }

    .aviso-btn{
        position: absolute;
        top: 15px;
        right: 15px;
    }

    img{
        width: 100%;
        border-radius: 10px;
    }

    //Desing Responsivo
    //1200px
    @media (max-width: $xg) {
        width: calc(50% - 40px);
    }

    //768px
    @media (max-width: $md) {
        width: calc(100% - 40px);
    }
}
