.contact {

    .single {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(33% - 20px);
        border-radius: 8px;
        background: map-get($theme-colors, 'light');
        color: map-get($theme-colors, 'white');

        //Desing Responsivo
        //992px
        @media (max-width: $xg) {
            width: calc(100% - 20px);
            margin-top: 20px;
        }
    }

    form{
        width: 75%;

        .field{
            width: calc(50% - 15px);
        }

        //Desing Responsivo
        //992px
        @media (max-width: $md) {
            width: 100%;

            .field{
                width: calc(100% - 0px);
            }
        }
    }

    .single::before {
        content: '';
        position: absolute;
        background: url("../images/contact.png") no-repeat;
        background-size: 100%;
        transform: scaleX(-1);
        opacity: 0.4;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
