.initial{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden !important;

    .initial-bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: -1;
        transform: scale(1);
        animation: pulse 13s infinite;
        animation-timing-function: linear;
    }
}

.title-section{
    font-family: 'Oswald', sans-serif !important;
}

.link{
    padding: 1rem;
    background: #e0e0e0;
    border: 2px dashed map-get($theme-colors, 'gray');
}

.backTop{
    position: fixed;
    justify-content: center;
    align-items: center;
    background: map-get($theme-colors, 'primary');
    border-radius: 50%;
    height: 60px;
    width: 60px;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}

body::-webkit-scrollbar {
    background: map-get($theme-colors, 'primary');
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: map-get($theme-colors, 'success');
    border-radius: 5px;
}
