.header{
    position: absolute;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid map-get($theme-colors, 'gray');
    width: 100%;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif !important;

    .container{
        height: 80px;
    }

    .links{
        display: flex;
        list-style: none;
        text-transform: uppercase;

        a{
            color: map-get($theme-colors, 'white');
            text-decoration: none;
            margin-right: 2rem;
        }

        a.active{
            color: map-get($theme-colors, 'success');
        }

        .dropdown-link{
            position: absolute;
            visibility: hidden;
            opacity: 0;
            flex-wrap: wrap;
            list-style: none;
            background: #fff;
            min-width: 200px;
            max-width: 305px;
            padding: 15px 1.3rem;
            z-index: 10;
            transition: all .3s ease;
            top: 120%;
            border-top: 3px solid map-get($theme-colors, 'success');

            li{
                width: 100%;
            }

            li a{
                font-size: .9em;
                color: map-get($theme-colors, 'light');
                margin: 10px 0;
            }
        }

        .dropdown-link.active{
            opacity: 1;
            transition: all .3s ease;
            top: 100%;
            visibility: visible;
        }
    }

    .info{
        border-left: 1px solid map-get($theme-colors, 'gray');
        color: #fff;
    }
}

.header.active{
    position: fixed;
    background: #fff;
    box-shadow: 2px 5px 10px rgba(59, 59, 59, 0.5);
    z-index: 10;
    border-bottom: 1px solid #ccc;

    .text-white{
        color: #000 !important;
    }

    .links{
        a{
            color: map-get($theme-colors, 'primary');
        }
    }

    .info{
        border-left: 1px solid #ccc;
    }
}

//Desing Responsivo
//992px
@media (max-width: $xg) {
    .header{
        position: fixed;
        width: 300px;
        background: #fff;
        top: 0;
        bottom: 0;
        right: -300px;
        transition: all .5s ease-in;
        z-index: 2;
        overflow-x: auto;

        .container{
            height: 100%;

            .links{
                display: flex;
                list-style: none;
                text-transform: uppercase;

                li{
                    padding: .5rem 0;
                }

                a{
                    color: map-get($theme-colors, 'primary');
                    text-decoration: none;
                    margin-right: 2rem;
                    font-size: 1.1em;
                }

                a.active{
                    color: map-get($theme-colors, 'success');
                }

                .dropdown-link{
                    position: relative;
                    visibility: visible;
                    opacity: 1;
                    flex-wrap: wrap;
                    list-style: none;
                    background: #fff;
                    width: 80% !important;
                    min-width: 80% !important;
                    display: flex;
                    padding: 10px .5rem;
                    z-index: 10;
                    transition: all .3s ease;
                    top: 0;
                    border-top: 3px solid map-get($theme-colors, 'success');

                    li{
                        width: 100%;
                        padding: 1px !important;
                    }
                }
            }
        }

        .info{
            border-left: none !important;
            color: #000;

            a{
                padding: .5rem 0;
                font-size: 1.1em !important;
            }
        }
    }

    .header.active-rwd{
        right: 0;
        transition: all .5s ease-in;
    }

    .header::-webkit-scrollbar {
        background: map-get($theme-colors, 'white');
        width: 8px;
    }

    .header::-webkit-scrollbar-thumb {
        background: map-get($theme-colors, 'light');
        border-radius: 5px;
    }
}
