//Notícias e artigos
.news {
    position: relative;
    overflow: hidden;

    h1 {
        font-size: 2.8em;
        color: map-get($theme-colors, 'primary');
    }

    .single {
        border: 1px solid #ccc;
        z-index: 1;
        border-radius: 8px;
        width: calc(25% - 20px);
        margin: 0 10px;
        background: map-get($theme-colors, 'white');

        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            width: 100%;
            height: 200px;
        }

        .html {

            img {
                display: none !important;
            }
        }

        .data {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            top: -35px;
            padding: 0 15px;
            left: 0;
            background: map-get($theme-colors, 'success');
        }

        //Desing Responsivo
        //992px
        @media (max-width: $xg) {
            width: calc(50% - 20px);
            max-width: 300px;
            margin-top: 20px;
        }

        //776px
        @media (max-width: $md) {
            width: calc(100% - 20px);
            max-width: 300px;
            margin-top: 20px;

            .title-section {
                font-size: 1.3em !important;
            }
        }
    }
}

.news:before {
    content: '';
    bottom: 0;
    right: 0;
    position: absolute;
    width: 796px;
    height: 580px;
    background: url("../images/segment.png") no-repeat;
    background-size: 100% 100%;
    transform: scaleX(-1);
}
