.service {
    display: flex;
    justify-content: space-between;
    color: map-get($theme-colors, 'light');

    .title-section{
        color: map-get($theme-colors, 'primary') !important;
    }

    h1 {
        font-size: 2.8em;
        color: map-get($theme-colors, 'primary');
    }

    .single {
        display: flex;
        align-items: center;
        width: 50%;

        img {
            width: 100px;
            background: #282828;
            border-radius: 5px;
            padding: 10px;
        }

        h2 {
            font-size: 1.7em;
            color: map-get($theme-colors, 'white');
        }

        //Desing Responsivo
        //992px
        @media (max-width: $xg) {
            width: 100%;
            align-items: flex-start;

            img{
                width: 80px;
            }

            .title-section{
                font-size: 1.8em !important;
            }
        }
    }
}
