.sistema{
    margin-top: 80px;
    background: map-get($theme-colors, 'white');

    .header-system{
        padding: 1.5rem 0;
        background: url("../images/imaq.png") no-repeat;
        background-size: 100% 100%;
    }

    .step {
        width: 100%;

        &-item {
            position: relative;

            span {
                width: 30px;
                height: 30px;
                position: absolute;
                top: -15px;
                border-radius: 50%;
                left: -5px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                color: map-get($theme-colors, 'success');
                font-weight: bold;
                box-shadow: 1px 1px 5px #383336;
            }

            &:before {
                content: '';
                position: absolute;
                width: 85%;
                top: 0;
                left: 0;
                border-top: 1px dashed #383336;
            }

            .title {
                color: map-get($theme-colors, 'success');
                font-weight: bold;
                margin-bottom: 5px;
            }

            p {
                font-size: .9em;
                margin: 0;
            }
        }
    }

    //Desing Responsivo
    //992px
    @media (max-width: $xg) {
        margin-top: 0 !important;
    }
}
